In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive

In [96]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [97]:
food_data= pd.read_csv("/content/drive/MyDrive/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="ISO-8859-1")
food_data.head(5)

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

QUESTION 12

In [98]:
mean=food_data["Y2015"].mean()
print("{:.3f}".format(mean))
std=food_data["Y2015"].std()
print("{:.3f}".format(std))

135.236
1603.404

QUESTION 13

In [99]:
sum=food_data["Y2016"].isnull().sum()
print("{:.2f}".format(sum))
percentage=(sum*100)/len(food_data["Y2016"])
print("{:.2f}".format(percentage))

1535.00
2.52

QUESTION 14

In [100]:
food_data.groupby("Element Code").corr()

                        Area Code  Item Code  ...     Y2017     Y2018
Element Code                                  ...
511          Area Code   1.000000        NaN  ...  0.150840  0.151415
             Item Code        NaN        NaN  ...       NaN       NaN
             Y2014       0.149348        NaN  ...  0.999885  0.999791
             Y2015       0.149792        NaN  ...  0.999947  0.999878
             Y2016       0.150292        NaN  ...  0.999986  0.999944
...                           ...        ...  ...       ...       ...
5911         Y2014       0.005901   0.056301  ...  0.941934  0.942024
             Y2015       0.007883   0.050526  ...  0.863665  0.863140
             Y2016       0.006203   0.062306  ...  0.963790  0.963378
             Y2017       0.005156   0.063080  ...  1.000000  0.999409
             Y2018       0.004272   0.063211  ...  0.999409  1.000000

[126 rows x 7 columns]

QUESTION 15

In [101]:
food_data.groupby("Element").sum()

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

QUESTION 16

In [102]:
food_data[["Element","Y2018"]].groupby("Element").sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

QUESTION 17

In [103]:
food_data[["Element","Y2018"]].groupby("Element").sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

QUESTION 18

In [104]:
food_data[["Element","Y2018"]].groupby("Element").sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

QUESTION 19

In [105]:
new=food_data.loc[food_data["Area"]=="Algeria"]
new[["Element","Y2018"]].groupby("Element").sum()

                                           Y2018
Element
Domestic supply quantity                90023.42
Export Quantity                           811.54
Fat supply quantity (g/capita/day)        309.09
Feed                                    10668.00
Food                                    63736.33
Food supply (kcal/capita/day)           13288.00
Food supply quantity (kg/capita/yr)      1509.28
Import Quantity                         36238.29
Losses                                   7708.00
Other uses (non-food)                    3970.08
Processing                               2479.00
Production                              60766.67
Protein supply quantity (g/capita/day)    367.28
Residuals                                 630.00
Seed                                      825.00
Stock Variation                          6172.00
Total Population - Both sexes           42228.00

QUESTION 20

In [106]:
len(food_data["Area"].unique())

49